body {
  background-color: #eaeef6;
}
.slaider-section{
  background: url(https://templates.envytheme.com/finix/default/assets/img/main-banner2.jpg) no-repeat top center ;
  background-size: cover;
  background-attachment: fixed;
  min-height: 300px;
}
.row {display: inline-block;}
.slaider-contant {
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
  }
