body {
  margin: 0;
  padding: 0;
  background-color: #eaeef6;
}
.slaider-section{
  background: url(https://templates.envytheme.com/finix/default/assets/img/main-banner2.jpg) no-repeat top center ;
  background-size: cover;
  background-attachment: fixed;
  min-height: 300px;
}
.row {
  display: inline-block;
}
.slaider-contant {
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
}
.box-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px #eaeef6 solid;
}
