@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); 
body {
  margin: 0;
  padding: 0;
  background-color: #eaeef6;
}
.container_nav {
  width: 100%;
  height: 50px;
}
.navigator {
  position: fixed;
  width: 100%;
  height: 50px;
  background: #fff;
  display: block;
  left: 0;
  top: 0;
  z-index: 800;
  box-shadow: 0px 0px 5px #444;
}
.main-logo {
  top: 10px;
  left: 10px;
  z-index: 2;
  float: left;
  width: none;
  height: 30px;
  padding: 0px;
  display: block;
  cursor: pointer;
  position: absolute;
  text-align: center;
}
.main-logo a {
  padding: 7px;
  color: #4e4ded;
  font-size: 1.50em;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Delius Unicase' , cursive;
}
.menu-btn {
  cursor: pointer;
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  float: left;
  padding-top: 5px;
  top: 5px;
  left: 10px;
  z-index: 2;
  display: none;
  border: 0.04em #cecece solid;
}
.menu-btn svg {
  fill: #ccc;
  width: 30px;
  height: 30px;
}

.main-menu svg{
  margin-bottom: -8px;
  width: 30px;
  height: 30px;
  fill: none;
  position: relative;
}
.main-menu a {
  color: #111;
  font-size: 20px;
  margin-left: 10px;
  letter-spacing: 2px;
  text-decoration: none;
  font-family: 'Lato' , sans-serif;
}
.main-nav {
  right: 20px;
  position: fixed;
  z-index: 9000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -20px;
  height: 100%;
  padding: 10px 0;
  font-size: 13px;
  top: 10px;
}
.main-nav ul {
  display: flex;
  list-style: none;
}
.main-nav ul li {
  padding: 0 5px;
}
.main-nav ul li a {
  padding-bottom: 2px;
}
.main-nav ul li a:hover {
  border-bottom: 2px solid #262626;
}
.main-nav ul.main-menu {
  flex: 1;
  margin-left: 10px;
}
@media(max-width: 900px) {
.menu-btn {
    display: block;
  }
.menu-btn:hover {
    opacity: 0.5;
  }
.main-nav ul.right-menu {
    margin-right: 50px;
  }
.main-nav {
  z-index: 10;
  margin-left: 0px;
  }
.main-menu a {
  color: #111;
  margin-left: 0px;
  }
.main-logo {
 left: 60px;
  }
.main-nav ul.main-menu {
  display: block;
  position: fixed;
  top:0;
  left: 0;
  z-index: 50;
  background: #f2f2f2;
  margin-top: 50px;
  width: 50%;
  height: 100%;
  border-right: #ccc 1px solid;
  opacity: 0.9;
  padding: 30px;
  transform: translateX(-500px);
  transition: transform 0.5s ease-in-out;
  transition: all 1s ease-in-out;
  }
.main-nav ul.main-menu li {
  padding: 10px 3px 10px 3px;
  border-bottom: #ccc solid 1px;
  font-size: 14px;
  }
.main-nav ul.main-menu li:last-child {
  border-bottom: 0;
  }
.main-nav ul.main-menu.show {
  transform: translateX(-20px);
  }
}
.slaider-section{
  background: url(https://templates.envytheme.com/finix/default/assets/img/main-banner2.jpg) no-repeat top center ;
  background-size: cover;
  background-attachment: fixed;
  min-height: 300px;
}
.row {
  display: inline-block;
}
.slaider-contant {
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Lato' , sans-serif;
}
.box-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px #eaeef6 solid;
}
p {
  line-height: 1.5em;
}
/* Container notebook
-------------------------------------*/
.container_notebook {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-bottom: 40px;
}
/*.post .post-body .container_projects img {
  border-radius: 0px;
}*/
.container_projects img {
  width: 100%;
  max-height: 300px;
  margin-bottom: 10px;
  border-radius: 0px;
}
.container_notebook .cardtext {
  text-align: left;
  box-sizing: border-box;
  padding-bottom: 15px;
  margin-bottom: 15px;
  display: inline-block;
  /*box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);*/
}
@media(max-width: 700px) {
.container_notebook {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width: 500px) {
.container_notebook {
    grid-template-columns: 1fr;
  }
}
.container_notebook .cardtext {
  border-radius: 5px;
  filter: drop-shadow(0 5px 10px 0 #ffffff);
  width: 100%;
  height: none;
  margin-bottom: 10px;
  min-height: 180px;
  background-color: #FFF;
  padding: 7px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: 0.6s ease-in;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
}
.container_notebook .cardtext::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 10px;
  left: -20px;
  background: #4E4DED;
  height: none;
  min-height: 100px;
  width: 25px;
  max-width: 100%;
  border-radius: 5px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}
.container_notebook .cardtext:hover::before{
  transition-delay:0.2s ;
  width: 100%;
  transform: scale(40);
}
.cardtext p { font-size: 18px;}
.container_notebook .cardtext:hover h2{
  color: #ffffff;
}
.container_notebook .cardtext p{
  margin-left: 10px;
  padding: 10px 0;
}
.container_notebook .cardtext:hover p{
  color: #ffffff;
}
